@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

body {
  background-color: #2e3440;
  margin-left: auto;
}

#title {
  font-size: 48px;
  font-family: 'Cabin', sans-serif;
  text-align: center;
  background:linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  background:-webkit-linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description {
  /*
  text-align: center;
  */
  text-align: justify;
  text-align-last: center;
  font-family: 'Cabin', sans-serif;
  color: #ffffff;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#description a {
  color: #a3be8c;
}

#description b {
  background:linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  background:-webkit-linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 36px;
  background:linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  background:-webkit-linear-gradient(0deg,#a5e091 20%,#e96d65 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  font-family: 'Cabin', sans-serif;
  text-align: center;
  color: #888888;
}

footer p {
  line-height: 10px
}

footer a {
  color: #a3be8c;
}

